<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
	body {
		margin:0;
	}
	
	#menu {
		width: 30%;
		margin: 10px;
	}
	
</style>
<body>
	<div id="top" th:insert="~{include/top :: top}">
		
	</div>
	
	<div id="menu" th:replace="~{include/menu :: menu}">
	
	</div>
	<div style="background-color: yellow; height: 100px">
		메뉴영역
	</div>
	
	<div id="body" th:replace="fragment/fragment2 :: fragment3('test', '12345')">
		
	</div>
</body>
</html>