<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="6.0">
  <display-name>examservlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>gugu</servlet-name>
    <servlet-class>basic.gugu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gugu</servlet-name>
    <url-pattern>/gugu.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostFormServlet</display-name>
    <servlet-name>PostFormServlet</servlet-name>
    <servlet-class>basic.PostFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostFormServlet</servlet-name>
    <url-pattern>/post.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Calc</display-name>
    <servlet-name>calc</servlet-name>
    <servlet-class>basic.CalcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>calc</servlet-name>
    <url-pattern>/calc.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberinsertServlet</display-name>
    <servlet-name>MemberinsertServlet</servlet-name>
    <servlet-class>member.MemberinsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberinsertServlet</servlet-name>
    <url-pattern>/emp/insert.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>MemberListServlet</servlet-name>
    <servlet-class>member.MemberListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberListServlet</servlet-name>
    <url-pattern>/emp/list.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberDeleteServlet</display-name>
    <servlet-name>delete</servlet-name>
    <servlet-class>member.MemberDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/emp/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>MemberListServlet2</servlet-name>
    <servlet-class>member.MemberListServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberListServlet2</servlet-name>
    <url-pattern>/emp/list.do/id</url-pattern>
  </servlet-mapping>
</web-app>